h1 {
    text-align: center;
    background-color: #E8DCCA;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

h2 {
    border-style: solid;
    border-color: #E8DCCA;
    border-width: 0px 0px 5px 0px;
    background-color: #e8dcca63;
    color: green;
}

.home {
    color: green;
    font-size: 20px;
}