*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FCFAEE;
}

.title {
    text-align: center;
    background-color: #3C552D;
    color: white;
    padding: 15px 0;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: #A5B68D solid 30px;
}

.title h1 {
    font-size: 40px;
}

.list {
    margin: 20px 200px;
    padding: 25px 25px 25px 25px;
}

.list ul {
    list-style-type: none;
}

.recipes {
    background-color: #ECDFCC;
    border-bottom: #DA8359 solid 5px;
    display: inline-block;
    text-align: center;
    width: 30%;
    padding: 20px 20px 10px 20px;
    margin: 0 22.5px;
}

.recipes a {
    display: inline-block;
    width: 100%;
    color: #DA8359;
    font-size: 30px;
    text-decoration: none;
}

/******* RECIPES *******/